{%extends "template.html"%} {%block title%}Login to Domanda {%endblock%}
{%block content%}

<center id="auth-widget">

  <h3 class="error">{{get_flashed_messages()[0]}}</h3>
</center>

<form action="{{url_for('Main.RouteAuth.logIn.LoginPage')}}" method="POST" class="loginForm" style="display: none">
  <input type="text" value="" name="account-token" />
  <input type="text" value="{{redirect}}" name="redirect" />
</form>

{%endblock%}
{%block header%}
<script src="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css" />
<script>
  class logInWidget {
    constructor() {
      let authWidget = new firebaseui.auth.AuthUI(auth);
      authWidget.start("#auth-widget", {

        signInOptions: [

          firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          "microsoft.com",
        ],
        callbacks: {
          signInSuccessWithAuthResult: function (currentUser, credential, redirectUrl) {
            onSignIn(auth.currentUser)
          }
        }
      })
    }
  }
  window.execClass = logInWidget;
  window.execArguments = [];
</script>
{%endblock%}